<!DOCTYPE html>

<html>
	<head>

	<!--Refresh and stylesheet link-->
	<meta http-equiv="refresh" content="10">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		*,
		*:before,
		*:after {
		  -moz-box-sizing: border-box;
		  -webkit-box-sizing: border-box;
		  box-sizing: border-box;
		}
		form {
		  max-width: 300px;
		  margin: 10px auto;
		  padding: 10px 20px;
		  background: #f4f7f8;
		  border-radius: 8px;
		}
		#middle_area{
			max-width: 300px;
		  margin: 10px auto;
		  padding: 10px 20px;
		  background: #f4f7f8;
		  border-radius: 8px;
		}

	</style>

	</head>

	<body>
			<form  method=post>
				<input  type="text" name="q" class="form-control" >
				<br>
				<input type="submit"  ><!--class="btn btn-warning btn-block btn-lg"-->

			</form>

			<div id="middle_area">
				<table border="0" class="table">
				 {% for o in params %} 
					{% if params.index(o)%5 == 0 %}
						<tr>
					{%endif%}
				
					<td> <!--<a href="/anc_mess1?d={{o}}">{{o}}</a> </td> -->
					<form method="post">
	    			<button class="btn btn-lg btn-warning"name="d" value="{{o}}">{{o}}</button>
					</form>	
					</td> 
					{% if params.index(o)%3 == 2 %}
						</tr>
					{%endif%}

					
				{%endfor%}
					
				</table>
			</div>



	<!--Redundant -->
	<!--<ul>
	{% if params %}
	{% for o in params %}
	<li> 
	{% endfor %}
	{% endif %}
	</ul>
	-->
	</body>
</html>